@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: url(../assets/img/background.jpg), #f7f7f7;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1440px 952px;
}

.header {
    width: 100%;
    min-height: 120px;
    margin-top: 27px;
}

.wrapper {
    width: 100%;
    max-width: 1179px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
}

.header .wrapper {
    flex-wrap: wrap;
}

.logo-link {
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    color: #FFFFFF;
    margin-right: auto;
}

nav {
    width: 100%;
    max-width: 407px;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFF;
}

.btn {
    padding: 14.5px 43.5px;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    color: #3e86f5;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-left: 50px;
    border: none;
}

.heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 190px;
    margin-bottom: 40px;
    max-width: 820px;
}

.description {
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 289px;
    max-width: 784px;
}

.main-wrapper {
    flex-direction: column;
}

.offers {
    margin-top: 160px;

}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}

.filters-list {
    width: 100%;
    max-width: min-content;
    height: 66px;
    display: flex;
    padding: 10px 18px;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 40px;
}

.filters-item {
    color: rgba(0, 0, 0, 0.5);
    padding: 9.5px 23.5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    /* margin-bottom: 40px; */
}

.active {
    background-color: #3e86f5;
    color: #FFFFFF;
}

.offers-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    margin-bottom: 160px;
    flex-wrap: wrap;
}

.offers-item {
    padding: 25px 25px 25px 27px;
    line-height: 37px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    background-color: #FFFFFF;
}

.book-btn {
    padding: 13px 19px;
    background: #F2F6FF;
    border-radius: 10px;
    margin-left: 77px;
    cursor: pointer;
    border: none;
}

.type {
    color: #F178B6;
    background: #FCDDEC;
    border-radius: 100px;
    padding: 0px 15.5px;
}

.travel .wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.travel img {
    border-radius: 75px;
    margin-top: 80px;
    margin-bottom: 111px;
    max-width: 480px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 580px;
}

.content .title {
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
    text-align: left;
}

.content .description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.contact-btn {
    background: #3E86F5;
    border-radius: 10px;
    border: none;
    padding: 22.5px 24px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width:820px) {
    .header .wrapper {
        justify-content: center;
    }

    .offers-list {
        justify-content: center;
    }

    .travel .wrapper {
        justify-content: center;
    }

}